.main-products-col {
  flex: 0 0 33.3%;
  max-width: 33.3%;
  padding: 0 20px;
  position: relative;
}
.main-products-col h1 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 30px;
}

.main-products-col .owl-nav {
  position: absolute;
  right: 20px;
  top: -70px;
}
.main-products-col .owl-carousel .owl-nav button {
  height: 30px;
  width: 30px;
  background: #f3f6fa;
  border: 1px solid #e6e6e6;
  font-size: 24px;
  color: #636363;
  margin-right: 10px;
  line-height: 30px;
  text-align: center;
  position: relative;
  transition: all 0.3s;
}
.main-products-col .owl-carousel .owl-nav button:hover {
  background-color: var(--green);
  color: #fff;
}
.main-products-col .owl-carousel .owl-nav button span {
  position: absolute;
  top: -3px;
  right: 10px;
}
.main-products-col .owl-nav .owl-prev {
}
.main-products-col .owl-nav .owl-next {
}
